// ########### BLANK PAGE ###########
body,
header,
section,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
label,
fieldset,
nav,
ul,
li,
a,
span,
strong,
em
  margin 0
  padding 0
  border 0

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
footer,
body,
section,
nav,
article,
aside
  display block
  
my-font-color = #333
my-head-font-color = #fff

html, body
	font-family Tahoma, sans-serif
	font-size 14px
	color my-font-color

#wrapper
	width 960px
	margin 0 5px
	position relative
	
	header
		#archive
			ul
				list-style-type none
				float right
				li
					display inline-block
					margin 0 4px
					a
						text-decoration none
						font-size 10px
						color my-font-color
		#header
			background-image url(images/topnav_divider.png)
			height 50px
			padding 15px 15px 0 30px
			#nav
				float left
				ul
					list-style-type none
					padding-left 10px
					li
						display inline-block
						padding 6px 10px
						a
							text-decoration none
							text-transform capitalize
							font-size 18px
							color my-head-font-color
			h1
				float right
				color my-head-font-color
	#content
		h1
			margin 16px 0
			font-size 24px
		p
			text-align justify
.clear
	clear both
	
















































