@import 'useful'

html, 
body 
	font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif

#wrapper
	width 960px
	margin 0 5px
	position relative

.clear
	clear both
	
header
	height 22px
	padding 14px 14px
	background-image url(images/header-bg.png)
	h1
		font-size 16px
		text-transform uppercase
		color #454b48
		display inline-block
		
nav
	display inline-block
	float right
	ul
		li
			display inline-block
			font-size 14px
			font-weight normal
			color #454b48
			margin 0 8px

#searchBar
	height 15px
	padding 10px
	background-color #000
	font-size 14px
	color #b9b9b9
	font-weight normal
	& a
		text-decoration none
		color #b9b9b9
	#archives
			float left
	#search
			float right
			
#content
	color #454b48
	h1
		margin 16px 0
		font-size 24px
	p
		font-size 14px
		margin-bottom 10px
		line-height 17px